In [19]:
PATH = r'..\data\raw\dialect_dataset.csv'
PATH_TO_SAVE = r'C..\data\processed\01_preprocced.csv'
URL = r'https://recruitment.aimtechnologies.co/ai-tasks'

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
import string
import re

In [20]:
df = pd.read_csv(PATH)

In [5]:
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

In [6]:
id_,text = [],[]
for i in range(0,(len(df)//1000)+1):
    myobj = df.iloc[i*1000:(i+1)*1000,:1].values
    x = requests.post(URL, json = list(map(str,list(myobj[:,0]))))  
    id_.extend(eval((x.text)).keys())
    text.extend(eval((x.text)).values())

In [7]:
df_tmp = pd.DataFrame({'id':id_, 'text':text})
df_tmp['id'] = df_tmp['id'].apply(int)
df_tmp = pd.merge(df,df_tmp, on='id')

In [8]:
df_tmp.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [16]:
df_tmp.to_csv(PATH_TO_SAVE)